body {
  background-color: #424549;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}


.site {
  width: 15%;
  height: 30px;
  margin-top: 280px;
  z-index: 1;
  position: absolute;
  margin-left: 550px;
  text-align: center;
  color: aqua;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.inp-id {
  width: 15%;
  height: 30px;
  margin-top: 350px;
  z-index: 1;
  position: absolute;
  margin-left: 400px;
  text-align: center;
}

.inp-about {
  width: 15%;
  height: 30px;
  margin-top: 350px;
  z-index: 1;
  position: absolute;
  margin-left: 700px;
  text-align: center;
}

.inp-banner {
  width: 30.7%;
  height: 30px;
  margin-top: 400px;
  z-index: 1;
  position: absolute;
  margin-left: 400px;
  text-align: center;
}

.large {
  width: 30.7%;
  height: 30px;
  margin-top: 450px;
  z-index: 1;
  position: absolute;
  margin-left: 400px;
  text-align: center;
}

.small {
  width: 30.7%;
  height: 30px;
  margin-top: 500px;
  z-index: 1;
  position: absolute;
  margin-left: 400px;
  text-align: center;
}

.sendbtn {
  width: 31.2%;
  height: 35px;
  margin-top: 550px;
  z-index: 1;
  position: absolute;
  margin-left: 400px;
  text-align: center;
  background-color: rgb(113, 140, 228);
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.sendbtn:hover {
  background-color: rgb(30, 128, 255);
  transition: 0.5s;
}

.svgimage {
  margin-left: 1150px;
  padding-top: 250px;
  z-index: 0;
  top: 0%;
  margin-top: 0px;
  position: absolute;
}

.link-div {
  color: aliceblue;
  width: 31.2%;
  height: 35px;
  margin-top: 600px;
  z-index: 1;
  position: absolute;
  margin-left: 400px;
  text-align: center;
  border: none;
  font-size: 15px;
}

.link-div a {
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    font-family: "Roboto", sans-serif;
}

.link-div a:hover {
    color: rgb(30, 128, 255);
    transition: 0.5s;
}

.card-name {
  width: 30.7%;
  height: 30px;
  margin-top: 500px;
  z-index: 1;
  position: absolute;
  margin-left: 520px; 
  color: black;
  font-size: medium;
  color: white;
  font-family: "Roboto", sans-serif;
}

.card-state {
  width: 30.7%;
  height: 30px;
  margin-top: 540px;
  z-index: 1;
  position: absolute;
  margin-left: 520px;  
  color: black;
  font-size: medium;
  color: white;
  font-family: "Roboto", sans-serif;
}

.card-details {
  width: 30.7%;
  height: 30px;
  margin-top: 570px;
  z-index: 1;
  position: absolute;
  margin-left: 520px; 
  color: black;
  font-size: medium;
  color: white;
  font-family: "Roboto", sans-serif;
}

.card-type {
  width: 30.7%;
  height: 30px;
  margin-top: 600px;
  z-index: 1;
  position: absolute;
  margin-left: 520px; 
  color: black;
  font-size: medium;
  color: white;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1500px) {
  .site {
    margin-top: 100px;
    text-align: center;
  }

  .inp-id {
    margin-top: 170px;
    margin-left: 350px;
    width: auto;
    height: 30px;
  }

  .inp-about {
    align-items: center;
    margin-top: 170px;
    align-self: center;
    align-content: center;
  }

  .inp-banner {
    margin-top: 220px;
    margin-left: 350px;
    width: 463px;
    height: 30px;
  }

  .large {
    margin-top: 270px;
    margin-left: 350px;
    width: 463px;
    height: 30px;
  }

  .small {
    margin-top: 320px;
    margin-left: 350px;
    width: 463px;
    height: 30px;
  }

  .sendbtn {
    margin-top: 370px;
    margin-left: 350px;
    width: 468px;
    height: 35px;
  }

  .svgimage {
    margin-left: 900px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .site {
    margin-top: 20px;
    margin-left: 230px;
  }

  .inp-id {
    margin-top: 70px;
    margin-left: 50px;
    width: auto;
    height: 25px;
  }

  .inp-about {
    margin-top: 70px;
    margin-left: 275px;
    width: auto;
    height: 25px;
  }

  .inp-banner {
    margin-top: 110px;
    margin-left: 50px;
    width: 437px;
    height: 25px;
  }

  .large {
    margin-top: 150px;
    margin-left: 50px;
    width: 437px;
    height: 25px;
  }

  .small {
    margin-top: 190px;
    margin-left: 50px;
    width: 437px;
    height: 25px;
  }

  .sendbtn {
    margin-top: 230px;
    margin-left: 50px;
    width: 442px;
    height: 35px;
  }

  .svgimage {
    margin-left: 110px;
    padding-top: 300px;
  }
}

@media screen and (max-width: 500px) {
  .site {
    margin-top: 10px;
    margin-left: 100px;
  }

  .inp-id {
    margin-top: 70px;
    margin-left:50px;
    width: auto;
    height: 20px;
  }

  .inp-about {
    margin-top: 100px;
    margin-left:50px;
    width: auto;
    height: 20px;
  }

  .inp-banner {
    margin-top: 130px;
    margin-left:50px;
    width: auto;
    height: 20px;
  }

  .large {
    margin-top: 160px;
    margin-left:50px;
    width: auto;
    height: 20px;
  }

  .small {
    margin-top: 190px;
    margin-left:50px;
    width: auto;
    height: 20px;
  }

  .sendbtn {
    margin-top: 220px;
    margin-left:110px;
    width: 100px;
    height: 40px;
  }

  .svgimage {
    margin-left: 15px;
    padding-top: 300px;
  }
}