body {
  background-color: #2c2f33;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.inputs {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 50px;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}