body {
    background-color: #424549;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.title {
    font-size: 25px;
    color: rgb(77, 154, 255);
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.content {
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.content a {
    color: rgb(77, 154, 255);
    text-decoration: none;
}

.content a:hover {
    color: rgb(0, 110, 255);
    transition: all 0.5s ease;
}

.doc-img {
    border-radius: 10px;
}

.doc-title {
    font-size: 20px;
    color: rgb(248, 137, 109);
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}